.text-white-shadow
  text-shadow: 1px 1px 11px rgba(255, 255, 255, .8)

.text-white-shadow-light
  text-shadow: 1px 1px 7px rgba(255, 255, 255, .3)

.white-shadow
  box-shadow: 1px 1px 15px 0 rgba(255, 255, 255, .3)

.green-shadow
  box-shadow: 1px 1px 8px 0 rgba(22,203,133,.5)

.red-shadow
  box-shadow: 1px 1px 8px 0 rgba(246,70,93,.5)

.blue-shadow
  box-shadow: 5px 5px 18px 0 rgba(39,96,248, .1)

.transition-05
  transition: 0.5s all

.transition-1
  transition: 1s all

.dark-shadow
  box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 30%)

